<h1>parent</h1>
<!-- <app-child1></app-child1> -->

<h1><a routerLink="/newcomponent">Navigate to new-component</a></h1>

<div>
  <ul style="display: flex;list-style: none;margin: 0;padding: 0;">
    <li style="margin-right: 15px;"><a routerLink="/employee">Employee</a></li>
    <li style="margin-right: 15px;"><a routerLink="/about">About Us</a></li>
    <li style="margin-right: 15px;"><a routerLink="/contact">Contact Us</a></li>
  </ul> </div>
<router-outlet></router-outlet>

<div>
  <h2>User Retrieved</h2>
  <div *ngIf="userData">
    <p>Name:{{userData.name.title}} {{userData.name.first}}{{userData.name.last}}</p>
    <img src="{{userData.picture.large}}" alt="user photo">
    <p>Email:{{userData.email}}</p>
    <p>Phone:{{userData.phone}}</p>
  </div>
</div>
